   A:link { text-decoration: none; color:#3e6496; }
   A:visited { text-decoration: none; color:#3e6496; }
   A:hover { text-decoration: none; color:#e1b383; }

   br {line-height:8px;}

body, table, td, th{
Font-Family : sans-serif;
Font-Size : 15px;
}

.r {text-align: right}
.blue {color: #0000FF;}
td {vertical-align: top; text-align: left}
.c {text-align: center}
table.s {
	border-collapse:collapse;
	border-width: 1px;
}
table.s td{
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
}
table.t {
	border-collapse: collapse;
	border-width: 0px;
}
table.t td{
	border-width: 0px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
}
.dots {
    background:url('./images/dot.gif') repeat-x center;
}
.field {
    background-color: #FFFFFF;
}

.sHdr {   /* Session header Content list */
   background-color: #bdd9ef;
   border-style: solid; border-width: 1px;
   border-color: #9dc19d;
}
      
table.trk { /* Track table Content list */
   border-collapse: collapse;
   border-width: 0px;
   margin: auto;
   width: 85%;
}
table.trk td{
   border-width: 0px;
   padding: 4px;
   border-style: solid;
   border-color: gray;
 }
      
.pHdr {  /* Paper header Content list */
   background-color: #d6e8f6;
   color: black;
}
      
.pTtl {  /* Paper title Content list */
   font-size: 16px;
   font-style: italic;
}

table.lT {  /* Letter table author index */
	        border-collapse: collapse;
	        border-width: 0px;
	        width: 85%;
	        margin: auto;
         }
table.lT td{
	        border-width: 0px;
	        padding: 1px;
	        border-style: solid;
	        border-color: gray;
         }
      
.lHdr {  /* Letter header author index */
            background-color: #bdd9ef; color: #417aa3; border-bottom:10px solid white; border-top:10px solid white;
            line-height: 1.25em;
         }

table.kT {   /* Keyword index table */
	        border-collapse: collapse;
	        border-width: 0px;
	        width: 85%;
         }
table.kT td{
	        border-width: 0px;
	        padding: 1px;
	        border-style: solid;
	        border-color: gray;
          }
      
.lHdr { /* Letter header keyword index */
            background-color: #bdd9ef;  color: #417aa3; border-bottom:10px solid white; border-top:10px solid white;
            line-height: 1.25em;
         }


table.dayB {  /* Day table Program at a glance B */
	     border-collapse: separate;
	     border-width: 1px;
	     margin: auto;
	     width: 100%;
		 position:relative;
		 left:110px;
      }
table.dayBN {  /* Day table Program at a glance B */
	     border-collapse: separate;
	     border-width: 1px;
	     margin: auto;
	     width: 100%;
		 position:relative;
		 left:0px;
      }

table.dayB td{
	     border-width: 1px;
	     padding: 2px;
	     border-style: solid;
	     border-color: gray;
      }
   
.dHd { /* Day header Program at a Glance B */
         background-color: #bdd9ef; 
         color: white;
         text-align: center;
		 width: 85%;
      }
   
.tHdr { /* Track header row Program at a Glance B */
         /* background-color: #b6d2ea */
		 background-color: #808080;  color: #ffffff;
      }

hr {  /* HR */
		border: 0;
		color: #808080;
		background-color: #808080;
		height: 2px;
		position: relative; top:-20px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Arial, Helvetica, sans-serif; margin-bottom: 5px; margin-top: 5px;
 }
 h1 {font-size: 1.8em; text-align: left; font-weight:bold; font-style: normal; margin-bottom: 10px; margin-top: 0px; color:#417aa3;}
 h1.one {font-size: 1.8em; text-align: center; font-weight:bold; font-style: normal; margin-bottom: 5px; margin-top: 5px; color:#417aa3;}
 h2 {font-size: 1.6em; line-height:1.5em; text-align: left; font-weight:bold; font-style: normal; color:#417aa3;
	border-style:solid none solid none; margin-bottom: 2px; margin-top: 2px; border-bottom-width:1px;
	border-top-width:1px; border-color:#3e6496; background-color:#e7f0f9;}
 h3 {font-size: 1.4em; line-height:1.6em; text-align: left; font-weight:bold; font-style: normal; color:#417aa3;
	border-style:solid none solid none; margin-bottom: 2px; margin-top: 2px;
	border-bottom-width:1px; border-top-width:1px; border-color:#3e6496;}

 h2.one {font-size: 1.4em; color:#7a1c1d; text-align: left; font-weight:bold; text-align: left;
	border-style:solid solid solid solid;
	border-bottom-width:3px; border-left-width:8px; border-top-width:3px; border-right-width:8px;
	border-color:#adafb1; padding:8px;
	border-bottom-left-radius:0.5em; border-top-right-radius:0.5em;
	border-top-left-radius:0.5em; border-bottom-right-radius:0.5em;
	background-color:#d9cab7; padding:8px; opacity:1.0;}
 h3.one {font-size: 1.1em; text-align: left; font-weight:bold; font-style: italic; color:#696969;
	border-style:solid none solid none; margin-bottom: 3px; border-bottom-width:1px; margin-top: 0px; border-color:#7a1c1d;}
 h3.two {font-size: 1em; text-align: left; font-weight:bold; font-style: normal; color:#000000;
	border-style:none none solid none; margin-bottom: 1px; border-bottom-width:1px; margin-top: 0px; border-color:#ffaa11;}
 h4 {font-size: 1.2em; text-align: left; font-style: italic; font-weight:semi-bold; color:#417aa3; padding-top: 10px; padding-bottom: 5px;
	border-style:none none none none;
	border-bottom-width:0px; border-left-width:0px; border-top-width:0px; border-right-width:0px;
	border-color:#ddd98b;}
 h5 {font-size: 1.0em; text-align: center; font-weight:bold; font-style: italic; color:#3e6496; position:relative; left:120px;
	border-style:none none none none; margin-bottom: 0px; border-bottom-width:1px; margin-top: 0px; border-color:#7a1c1d;}
 h5.one {font-size: 1.0em; text-align: center; font-weight:bold; font-style: italic; color: #31789b; margin-bottom: 5px; margin-top: 5px;}
 h6 {font-size: 1.6em; font-weight:bold; text-align: left; color: #ffffff;
	margin-bottom: 5px; margin-top: 5px; margin-left: -15px;
    background-image: -moz-linear-gradient(left,#808080,#c0c0c0 75%,#808080);
    background-image: -ms-linear-gradient(left,#808080,#c0c0c0 75%,#808080);
    background-image: -o-linear-gradient(left,#808080,#c0c0c0 75%,#808080);
    background-image: -webkit-linear-gradient(left,#808080,#c0c0c0 75%,#808080);}
